html {
	height: 100%;
	font-size: 20px;
	width: 100%;
}
body{
	font: normal 1em 'fira_sansregular';
}

/* section styles */
.section-head {
	font-size: 34,17px;
	color: #00a1eb;
}
.section-p {
	color: #737373;
}
/* Шапка */
.container {
	min-width: 960px;
	margin: 0 auto;
	position: relative;
}
.container-center {
	text-align: center;
}
.header {
	background-image: 
	url('../img/header.png');
	background-repeat: no-repeat;
	background-blend-mode: multiply, darken; 
	min-height: 500px;
	position: relative;
	background-size: cover;
	user-select: none;
}
.header__site-name {
	float: left;
	position: absolute;
	left: 4%;
	top: 4.5%;
	font-size: 25px;
	color: white;
	text-decoration: none;
	transition: 1.5s;
}
.header__site-name:hover {
	color: #00a1eb;
	transform: scale(1.05);
}
.header__navigation {
	float: right;
	margin-right: 4%;
}
.header__navigation-item {
	display: inline-block;
	padding: 10px;
	
}
.header-nav-link {
	font-size: 14px;
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
	display: block;
}
.header-nav-link:hover {
	color: #00a1eb;
	transform: translate(0,5px);
}

.header-caption{
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%);
	color: white;

}
.main-h1 {
	margin: 0;
	padding: 0;
	letter-spacing: 6px;
}
.main-p {
	margin: 0;
	padding: 0;
}
/* Шапка - конец */

/* прибьем футер к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}

/* прибьем футер к низу - конец */

/* Футер */
.footer {
	background-image: url(../img/footer.png);
	color: white;
	height: 80px;
	min-width: 970px;
	margin-top: -80px;
	border-radius: 0 0 10px 10px;
}
.footer-copyright {
	float: left;
	margin-left: 4%;
}
.footer-wgore {
	float: right;
	margin-right: 4.6%;
}
/* Футер - конец */

/* О нас left*/
.o-nas {
	margin-top: 110px;
	margin-bottom: 100px;
}
.o-nas-text {
	display: inline-block;
	max-width: 45%;
	margin-left: 4%;
	position: relative;
}
.o-nas-h3 {
	font-size: 22px;
	color: #00a1eb;
}
.o-nas-p {
	width: 90%;
}
.button {
	background-color: rgba(0,161,235, 0.7);
	width: 150px;
	height: 60px;
	font-size: 14px;
	color: white;
	font-weight: bold; 
	border-radius: 10px;
	border: none;
	transition: 1s;
}
.button:hover {
	background-color: #00a1eb;
}
/* О нас left - конец*/

/* О нас right*/
.o-nas-pic {
	display: inline-block;
	width: 45%;
	height: 380px;
	margin-right: 4%;
	position: relative;
	background-image: 
	url('../img/o-nas.png'),
	linear-gradient(white,#FA8072);
	background-repeat: no-repeat;
	background-blend-mode: multiply, darken;
	margin-top: 36px;
	float: right;
}
.o-nas-pic-p {
	position: absolute;
	color: white;
	font-size: 22px;
	top: 70%;
	left: 65%;
	font-weight: bold; 
}
/* О нас right - конец */

/* Асортимент - начало */
.asort {
	margin-bottom: 70px;
}
.asort-p {
	width: 40%;
	margin: auto;
}

.hr {
	width: 20%;
}
.hr-o-nas {
	width: 15%;
	position: relative;
	float: left;
	margin-top: -3%;
}

/* Carousel */
.carousel-list {
	list-style: none;
	margin-bottom: 50px;

}
.carousel-item {
	display: inline-block;
	position: relative;
	width: 270px;
	height: 270px;
	text-align: center;
	margin-right: 40px;
}

.carousel-item:hover .asort-fish-button {
	display: block;

}

/*Fish*/
.asort-fish {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
}
.asort-fish-name {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	transform: translate(-45%, -100%);

	
}
.asort-fish-price {
	font-size: 20px;
	transform: translate(-45%, -40%);
}
.asort-fish-button {
	position: absolute;
	display: none;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	color: #00a1eb;
	height: 40px;
	width: 100px;
	font-weight: bold;
}

/* circles */
.circles {
	width: inherit;
}
.circles-group {
	width: 33%;
	display: inline-block;
	text-align: center;
}
.circles-back {
	background-color: #00a1eb;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.circles-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	fill: red;
}
.circles-img:hover {
}
.circles-caption {
	color: #00a1eb;
	font-size: 24px;
	margin-bottom: 0;
}
.circles-text {
	font-size: 14px;
	color: #737373;
}
.button-circles {
	margin-top: 40px;
}


